/* CSS Document */
#p9{height:900px;width:100%;background-color:#FEFEFE;}
#p2{height:100px;width:100%;float:up;color:#fcfdfd;font-size:50px;background-color:#183340;border:groove;}
#p6{height:43px;width:100%;float:down;margin-bottom:0px;border:groove;}

#p76{height:600px;width:100%;border:groove;}
.p77{height:600px;width:48%;float:left;}
.p78{height:600px;width:49%;float:left;}


#p3{height:250px;width:100%;border:groove;}
.p4 {height:250px;width:40%;float:left;}
.p5 {height:250px;width:60%;float:left;}


#p3d{height:100px;width:100%;border-style:groove;border-color:#FFFFFF;}
.p4d {height:99px;width:19%;float:left;background-color:#CC0300;border-style:groove;border-color:#FFFFFF;}
.p5d {height:99px;width:19%;float:left;background-color:#CC0300;border-style:groove;border-color:#FFFFFF;}
.p6d {height:99px;width:19%;float:left;background-color:#CC0300;border-style:groove;border-color:#FFFFFF;}
.p7d {height:99px;width:40%;float:left;background-color:#CC0300;border-style:groove;border-color:#FFFFFF;}

#p01{height:190px;width:100%;background-color:#FEFEFE;margin-bottom:0px;border:groove;}
.pp1{height:190px;width:49%;float:left;border:groove;}
.pp2{height:190px;width:50%;float:left;border:groove;}


#p06{height:200px;width:100%;background-color:#FEFEFE;margin-top:0px;border:groove;}
.p444 {height:40px;width:33.33%;float:left;background-color:#1f7898;border:hidden;}
.p555 {height:40px;width:33.33%;float:left;background-color:#1f7898;}
.p666 {height:40px;width:33.33%;float:left;background-color:#1f7898;}
#p11{height:100px;width:100%;background-color:#183340;border:groove;}
#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}
.btmmm
{
 background: #2DC2BC;font-size: 18px;
  font-weight: 400;cursor: pointer;
  outline: none;color: #FFF;
  }
  .boxstyle
  {
  outline: none;
			        
					font-weight: 400;
					border: 1px solid #2DC2BC;
					border-radius: 5px;
					
				
					
					}
					.boxstyles
  {
  outline: none;
			        font-size: 18px;
					font-weight: 400;
					border: 1px solid #2DC2BC;
					border-radius: 5px;
					
				
					
					}
					

						
					
				
					
					}
					 